@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,500&family=Montserrat:wght@700;900&family=Poppins:wght@600&display=swap');

// Variables
$base-color:#142E47;
$second-base:#FFB800;
$bg-color:#fff8ed;
$third-color: rgb(126,159,176);
$third-base:rgb(247, 228, 120);


// Global Styles 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'JetBrains Mono', monospace , sans-serif;
    font-size: 10px;
    scroll-behavior: smooth ;
    color:$base-color
}

body {
    background-color: $bg-color;
    color:$base-color
}

body:hover>#trailer {
    opacity: 1;
}

a {
    text-decoration: none;
}


.primary-btn {
    display: inline-block;
    background-color:$second-base;
    color: #FFF;
    font-size: 1.8rem;
    padding: 0.6em 1.6em;
    border-radius: 50px;
}
.buttons {
    margin-top: 3rem;
    align-items: center;
    justify-items: flex-start;
    gap: 2rem;
}
.interactable {
    background-position: center 50%;
    background-size: 100%;
    opacity: 0.8;

    transition: background-size 400ms ease, opacity 400ms ease;
}
.interactable:hover {
    background-size: 105%;
    opacity: 1;
}

// heading 
.section-heading {
    font-size: clamp(2rem, 20vw, 8rem);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    margin-bottom: 11rem;
    
}
.section-heading::before{
    content: attr(data-outline);
    position: absolute;
    left: 2%;
    top: -20%;
    width: 100%;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 1px #FFB800;
    z-index: -1;
    font-family: 'Montserrat';
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}




// navigation
#navigation {
    position:fixed;
    right: 10px;
    top: 10px;
    height: auto;
    z-index: 100;
    label {
        .menu {
            position: absolute;
            right: -100px;
            top: -100px;
            z-index: 100;
            width: 200px;
            height: 200px;
            background: #FFF;
            border-radius: 50% 50% 50% 50%;
            transition: .5s ease-in-out;
            box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
            cursor: pointer;
        }
        .interactable {
            opacity: 1;
        }

        .hamburger {
            position: absolute;
            top: 130px;
            left: 50px;
            width: 30px;
            height: 2px;
            background: #000;
            display: block;
            transform-origin: center;
            transition: .5s ease-in-out;

            &:after,
            &:before {
                transition: .5s ease-in-out;
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: #000;
            }

            &:before {
                top: -10px;
            }

            &:after {
                bottom: -10px;
            }
        }

        input {
            display: none;
        }

        input:checked+.menu {
            box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
            border-radius: 0;

            .hamburger {
                transform: rotate(45deg);

                &:after {
                    transform: rotate(90deg);
                    bottom: 0;
                }

                &:before {
                    transform: rotate(90deg);
                    top: 0;
                }
            }
        }

        input:checked+.menu + ul {
            opacity: 1;
            visibility: visible;
        }

        ul {
            z-index: 200;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: .25s 0s ease-in-out;
            list-style-type: none;
            visibility: hidden;
            justify-items: center;

        }

        a {
            z-index: 250;
            margin-bottom: 2em;
            display: block;
            color: #000;
            text-decoration: none;
            font-size: 3rem;
            list-style-type: none;
            justify-items: center;

        }
    }
}

.pseudo-text-effect {
    position: relative;
    padding: 0;
    overflow: hidden;
    transition: transform .5s; //will be inherited
    //transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    display: block;

    &::after {
        content: attr(data-after);
        display: inline-block;
        transform: translateY(100%);
        position: absolute;
        left: 0;
        transition: inherit;
    }

    >span {
        display: inline-block;
        transform: translateY(0%);
        transition: inherit;
    }

    &:hover {
        >span {
            transform: translateY(-100%);
        }

        &::after {
            transform: translateY(0%);
        }
    }
}
.scroll-top {
    height: 60px;
    width: 60px;
    background-color: $second-base;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.4);

    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;

    display: flex;
    align-items: center;
    justify-content: center;

    
    

    i {
        width:50%;
        height: 50%;
        color: white;
        pointer-events: none;
    }
}

.scroll-top:hover {
    transform: scale(1);
}

// Hero section
#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 90%;
        margin: 0 auto;
        max-width: 1000px;

        .scroll-down {
                height: 50px;
                width: 30px;
                border: 2px solid $second-base;
                position: absolute;
                left: 50%;
                bottom: 80px;
                border-radius: 50px;
                cursor: pointer;
            }
        
            .scroll-down::before,
            .scroll-down::after {
                content: '';
                position: absolute;
                top: 20%;
                left: 50%;
                border: 2px solid $second-base;
                height: 10px;
                width: 10px;
                transform: translate(-50%, -100%) rotate(45deg);
                border-top: transparent;
                border-left: transparent;
        
                animation: scroll-down 1s ease-in-out infinite;
            }
        
            .scroll-down::after {
                top: 30%;
                animation-delay: .3s;
            }
        .left {
            flex:7;
            
            .subheading {
                font-size: 1.8rem;
                font-weight: 500;
                text-transform: uppercase;
                opacity: 0;
                animation: fade .3s ease-in forwards;
                animation-delay: 1s;
            }
            .heading {
                font-size:6rem ;
                color: $second-base;
                font-weight: 900;

                .wrapper {
                    display: inline-block;
                    overflow: hidden;

                    span {
                        position: relative;
                        bottom: -70px;
                        animation: reveal 1s ease-in-out forwards;
                    }
                }
            }

            .desc {
                margin-top: 1rem;
                max-width: 400px;
                font-size: 1.6rem;
                opacity: 0;
                animation: fade .3s ease-in forwards;
                animation-delay: 1s;

            }
            .navigate {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap:2rem;
                opacity: 0;
                animation: fade .3s ease-in forwards;
                animation-delay: 1s;

                .text_navigate {
                    font-size: 1.5rem;
                    padding-top: 5rem;
                    padding-left: 5rem;
                }
                svg {
                    padding-top: 5rem;
                    width: 40px;
                    color:$second-base;
                    animation: moveArrow 1s alternate-reverse infinite;
                }
                a {
                    text-decoration: none;
                    color: $base-color;
                }
            }
        }
        .right {
            flex:6;
            
            

            img {

                object-fit: cover;
                object-position: 50% 30%;
            }
            
        }

        
    }
}

// Skill section

#skill-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .section-heading {
        margin-bottom: 5rem;


    }
    .container {
        display: grid;
        grid-template-rows: repeat(3, 150px) ;
        grid-template-columns: repeat(5, 200px);
        justify-items: center;
        align-items: center;

        .item:nth-child(2) {
            transition-delay: 200ms ;
        }
        .item:nth-child(3) {
            transition-delay: 400ms ;
        }
        .item:nth-child(4) {
            transition-delay: 600ms ;
        }
        .item:nth-child(5) {
            transition-delay: 800ms ;
        }

        .item:nth-child(7) {
            transition-delay: 200ms ;
        }
        .item:nth-child(8) {
            transition-delay: 400ms ;
        }
        .item:nth-child(9) {
            transition-delay: 600ms ;
        }
        .item:nth-child(10) {
            transition-delay: 800ms ;
        }


    }

    .heading-skill {
        .section-heading {
            font-size: clamp(2rem, 20vw, 5rem);
        }
    }
    .other {
        display: grid;
        grid-template-rows: repeat(2, 200px) ;
        grid-template-columns: repeat(4, 250px);
        justify-items: center;
        align-items: center;

        .other-item:nth-child(2) {
            transition-delay: 200ms ;
        }
        .other-item:nth-child(3) {
            transition-delay: 400ms ;
        }
        .other-item:nth-child(4) {
            transition-delay: 600ms ;
        }
           
        }
        .pr {
            img {
                height: 60px;
                width: 120px;
            }
        }
        .powerapp {
            img {
                height: 65px;
                width: 145px;
            }

        }
    }

// About section

#about {
    padding: 17rem ;
    .container{
        width: 90%;
        margin: 0 auto;
        max-width: 1000px;
    }

    .wrapper {
        display: flex;
        align-items:center;
        justify-items: center;
        gap: 3rem;

        .left {
            padding: 2rem;
            text-align: center;

            .card {
                box-shadow: 0px 0px 20px $second-base;
                padding: 3rem;
                border-radius: 12px;
                min-height: 400px;

                .img {
                    width: 100px;
                    height:100px;
                    margin: 0 auto;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-bottom: 3rem;

                    img {
                        object-fit: cover;
                    }
                }
                .card-desc {
                    margin-bottom: 3rem;
                    font-size: 1.3rem;
                }
                .card-name {
                    margin-bottom: 1.4rem;
                    font-size: 2rem;
                    
                }
                .card-sub-title {
                    font-size: 1.4rem;
                    color: $second-base;
                }
            }
        }
        .right {
            .subheading {
                font-size: 1.5rem;

                margin-bottom: 1rem;

            }
            .slogan {
                font-size: 2.5rem;
                margin-bottom: 2rem;
                color: $second-base;
            }
            .right-text {
                font-size: 1.3rem;
            }


        }
    }
}
.wt-btn_sign {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: -.21px;
    white-space: nowrap;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
    line-height: 20px;
    color: #f6416c;
    background: #ffde7d;
    border: none;
    height: 45px;
    padding: 0 5px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}
.wt-btn_sign:hover {
    color: #ffde7d;
    background: #f6416c;
}
.wt-btn_sign-bound {
    display: block;
    overflow: hidden;
    span {
        position: relative;
        display: inline-block;
        padding: 0 22px;
        -webkit-animation: wt-btn_sign-marquee 2s linear infinite;
        -moz-animation: wt-btn_sign-marquee 2s linear infinite;
        -o-animation: wt-btn_sign-marquee 2s linear infinite;
        animation: wt-btn_sign-marquee 2s linear infinite;
    }
    span:after {
        content: attr(data-text);
        position: absolute;
        left: 100%;
        padding: 0 23px;
    }
    
}


// works section
#work-heading{
    padding: 2rem ;
    
    .section-heading-works {
        font-size: clamp(2rem, 20vw, 8rem);
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        text-align: center;
        position: relative;
    }
    .section-heading-works::before{
        content: attr(data-outline);
        position: absolute;
        left: 2%;
        top: -20%;
        width: 100%;
        text-align: center;
        text-transform: lowercase;
        letter-spacing: 0.2rem;
        color: transparent;
        -webkit-text-stroke: 1px #FFB800;
        z-index: -1;
        font-family: 'Montserrat';
    }
}
#works-right {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$bg-color;

    .container {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
            img {
                width: 100%;
                height: 1000px auto;
                border-radius: 8px;
                object-fit: cover;
            }


        }
        .right{
            width: 100%;
            min-height: 400px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            border-radius: 8px;
            color:$base-color;
            margin-left: -150px ;
            padding-right: 30px;
            z-index: 10;

            transition-delay: 350ms;

            h1 {
                font-size: 40px;
            }
            p {
                margin: 20px 0;
                font-weight: 500;
                line-height: 25px;
                font-size: 1.3em;
            }
            ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                font-size: 1em;
                li {
                    padding: 0 5px;
                }

            }
        } 
    }


}
#works-left {
    min-height: vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$bg-color;

    .container {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .hidden {
            opacity: 0;
            filter: blur(5px);
            transform: translateX(100%);
            transition: all 1s;  
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
        }

        .left {

            img {
                width: 100%;
                height: 1000px auto;
                border-radius: 8px;
                object-fit: cover;

            }
            

        }
        .right{
            width: 100%;
            min-height: 400px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            border-radius: 8px;
            color:$base-color;
            margin-right: -150px ;
            padding-right: 30px;
            z-index: 10;
            
            transition-delay: 350ms;

            h1 {
                font-size: 40px;
            }
            p {
                margin: 20px 0;
                font-weight: 500;
                line-height: 25px;
                font-size: 1.3em;
            }
            ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                font-size: 1em;
                li {
                    padding: 0 5px;
                }

            }
        } 
    }


}
.social-links {
	display: flex;
    padding-top: 20px;
    
    .social-btn {
        cursor: pointer;
        height: 40px;
        width: 40px;
        color: #333;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        background: $third-base;
        margin: 5px;
        transition: 1s;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    span {
        width: 0px;
        overflow: hidden;
        transition: 1s;
        text-align: center;
    }
    .social-btn:hover {
        width: 140px;
        border-radius: 5px;
    }
    .social-btn:hover span {
        padding: 2px;
        width: max-content;
    }
    
    
    #link-site, #github {
        svg {
            fill: #000000;
            height: 20px;
            width: 30px;
        }
        span {
            font-size: 1.2em;
        }
    }

}

// contact section

#contact {
    padding: 10rem 20rem ;

    .wrapper {
        display: flex;
        align-items: flex-start;
        justify-items: center;
        gap: 5rem;

        .left{
            flex: 1;

            .contact-heading {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
            .contact-desc {
                font-size: 1.3rem;
                margin-bottom: 5rem;
            }
            .contact-info {
                margin-bottom: 5rem;

                ul {
                    list-style: none;

                    li {
                        border-radius: 12px;
                        overflow: hidden;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            font-size: 1.3rem;
                            padding: 1rem;
                            gap: 1rem;
                            color: $base-color;

                        }
                    }

                    li:hover {
                        background-color: $second-base;

                        a {
                            color: white;
                        }
                    }
                }
            }

            .social-info {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    list-style: none;
                    font-size: 2rem;
                    gap: 10rem;

                    a {
                        color: $base-color;

                    }
                }

            }
        }
        .right{
            flex: 1;
            
            transition-delay: 300ms;
            
            .form-wrapper {
                background-color: $third-color ;
                max-width: 500px;
                margin: 0 auto;
                padding: 2rem;
                color: #FFF;
            
                .button-submit {
                    font-size: 1.6rem;
                    letter-spacing: 2px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #000;
                    cursor: pointer;
                    border: 3px solid;
                    padding: 0.25em 0.5em;
                    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
                    position: relative;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;

                    width: 150px;
                    
                  }
                  
                  .button-submit:active {
                    box-shadow: 0px 0px 0px 0px;
                    top: 5px;
                    left: 5px;
                  }
                  
            }
            
            .contact-card-text {
                margin-bottom: 3rem;
                font-size: 4rem;
            }
            .form-group {
                margin-bottom: 1rem;

                label {
                    margin-bottom: 1rem;
                    display: inline-block;
                    font-size: 1.3rem;
                }
                textarea {
                    width: 100%;
                    height: 150px;
                    resize: vertical;
                    padding: 1rem;
                    outline: none ;
                    border: 1px solid white;
                    font-size: 1.5rem;
                    background-color:$third-color  ;
                    color: white;
                    
                }

                .input-wrapper {
                    background-color: #FFF;
                    color:#000;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 40px;
                    overflow: hidden;

                    input {
                        padding: 1rem;
                        height: 100%;
                        width: 100%;
                        outline: none ;
                        border: 1px solid white;
                        font-size: 1.5rem;
                        background-color:$third-color ;
                        color: white;
                    }
                }

            }
        }

    }
}

// Footer section

#copy-right {
    padding: 1rem 0;
    background-color:$third-color;

    p {
        color: #FFF;
        margin: 1rem;
        font-size: 1.4rem;
    }
}

// Screen 

@media only screen and (max-width: 950px) {
    #hero {
        .container {
            .right {
                flex:6;
            }
        }
    }
    #skill-bar {
        .container {
            grid-template-rows: repeat(3, 100px) ;
            grid-template-columns: repeat(3, 150px);
            margin-bottom: 4rem;
        }
        .other {
            grid-template-rows: repeat(2, 100px) ;
            grid-template-columns: repeat(2, 150px);
            margin-bottom: 4rem;
        }

    }
    
}


@media only screen and (max-width: 777px) {
    html {
        font-size: 8px;
    }
    #hero {
        .container {
            flex-direction: column-reverse;
            .right {
                text-align: center;
                flex:1;
                margin-bottom: 2rem;

                img {
                    width: 100%;
                    height: 300px;

                }
            }
            .left {
                text-align: center;
                padding-right: 0;
                flex: 1;
                height: fit-content;

                .navigate {
                    justify-content: center;
                }
                .heading{
                    font-size: 4rem;
                    margin: 0 auto;
                }
                .desc {
                    margin: 0 auto;

                }
            }
        }
    }
    #about {
        .wrapper {
            flex-direction: column-reverse;
            text-align: center;

            .right {
                .buttons {
                    justify-items: center;
                    align-items: center;
                }
            }
        }
    }
    #skill-bar {
        .container {
            grid-template-rows: repeat(2, 100px) ;
            grid-template-columns: repeat(2, 150px);
            padding-bottom: 20px;
        }
        .heading-skill {
            padding-top: 40px;
        }

    }
    #works-right {
        .container {
            flex-direction: column;
            .left {
                width: 70%;
            }
            .right {
                width: 60%;
                margin: 0;
                margin-top: -100px;

                h1 {
                    font-size: 30px;
                }
                ul {
                    font-size: 1.3em;
                }
            }
        }
    }
    #works-left {
        .container {
            flex-direction: column-reverse;

            .left {
                width: 70%;
                
            }

            .right {
                width: 60%;
                margin: 0;
                margin-top: -100px;

                h1 {
                    font-size: 30px;
                }
                ul {
                    font-size: 1.3em;
                }
            }
        }
    }
    .scroll-top {
        i {
            width: 40%;
            height: 40%;
        }
    }
}

@media only screen and (max-width: 517px){
    #about {
            padding: 7rem;
        }
    #skill-bar {
            .heading-skill {
                padding-top: 30px;
            }
        }
    #works-right {
        min-height: 70vh;
            .container {
                flex-direction: column;
                
                .left {
                    width: 70%;
                }
    
                .right {
                    width: 80%;
                    min-height: 300px;
                    padding: 10px;
                    margin-top: -50px ;
    
                    h1 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 10px;
                    }
    
                    ul {
                        font-size: 1.3em;
                    }
                }
            }
        }
     #works-left {
            .container {
                flex-direction: column-reverse;
    
                .left {
                    width: 70%;
                    
                }
    
    
                .right {
                    width: 80%;
                    min-height: 300px;
                    padding: 10px;
                    margin-top: -50px ;
    
                    h1 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 10px;
                    }
    
                    ul {
                        font-size: 1.3em;
                    }
                }
            }
        }

}



// Animation

@keyframes scroll-down {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 90%;
    }
}
@keyframes reveal {
    0% {
        bottom: -70px;
    }                 
    100% {
        bottom: 0;
    }       
} 

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-moz-keyframes wt-btn_sign-marquee {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        -moz-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-o-keyframes wt-btn_sign-marquee {
    0% {
        transform: translate3d(0, 0, 0)
    }

    100% {
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}


// ------------------image-----------------

#trailer {
    height: 20px;
    width: 20px;
    background-color:rgba(0, 0, 0);
    border-radius: 20px;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;

    display: grid;
    place-items: center;
}

#trailer:not([data-type=""])>#trailer-icon {
    opacity: 1;
    
}

#trailer-icon {
    font-size: 6px;
    line-height: 4px;
    color: white;

    opacity: 0;
    transition: opacity 400ms ease;
}