@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,500&family=Montserrat:wght@700;900&family=Poppins:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "JetBrains Mono", monospace, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
  color: #142E47;
}

body {
  background-color: #fff8ed;
  color: #142E47;
}

body:hover > #trailer {
  opacity: 1;
}

a {
  text-decoration: none;
}

.primary-btn {
  display: inline-block;
  background-color: #FFB800;
  color: #FFF;
  font-size: 1.8rem;
  padding: 0.6em 1.6em;
  border-radius: 50px;
}

.buttons {
  margin-top: 3rem;
  align-items: center;
  justify-items: flex-start;
  gap: 2rem;
}

.interactable {
  background-position: center 50%;
  background-size: 100%;
  opacity: 0.8;
  transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
  background-size: 105%;
  opacity: 1;
}

.section-heading {
  font-size: clamp(2rem, 20vw, 8rem);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  position: relative;
  margin-bottom: 11rem;
}

.section-heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1px #FFB800;
  z-index: -1;
  font-family: "Montserrat";
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#navigation {
  position: fixed;
  right: 10px;
  top: 10px;
  height: auto;
  z-index: 100;
}
#navigation label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}
#navigation label .interactable {
  opacity: 1;
}
#navigation label .hamburger {
  position: absolute;
  top: 130px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
#navigation label .hamburger:after, #navigation label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
#navigation label .hamburger:before {
  top: -10px;
}
#navigation label .hamburger:after {
  bottom: -10px;
}
#navigation label input {
  display: none;
}
#navigation label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}
#navigation label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}
#navigation label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
#navigation label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
#navigation label input:checked + .menu + ul {
  opacity: 1;
  visibility: visible;
}
#navigation label ul {
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
  list-style-type: none;
  visibility: hidden;
  justify-items: center;
}
#navigation label a {
  z-index: 250;
  margin-bottom: 2em;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 3rem;
  list-style-type: none;
  justify-items: center;
}

.pseudo-text-effect {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform 0.5s;
  display: block;
}
.pseudo-text-effect::after {
  content: attr(data-after);
  display: inline-block;
  transform: translateY(100%);
  position: absolute;
  left: 0;
  transition: inherit;
}
.pseudo-text-effect > span {
  display: inline-block;
  transform: translateY(0%);
  transition: inherit;
}
.pseudo-text-effect:hover > span {
  transform: translateY(-100%);
}
.pseudo-text-effect:hover::after {
  transform: translateY(0%);
}

.scroll-top {
  height: 60px;
  width: 60px;
  background-color: #FFB800;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  transform: scale(0.9);
  transition: 0.3s ease-in-out transform;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-top i {
  width: 50%;
  height: 50%;
  color: white;
  pointer-events: none;
}

.scroll-top:hover {
  transform: scale(1);
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .container {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}
#hero .container .scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #FFB800;
  position: absolute;
  left: 50%;
  bottom: 80px;
  border-radius: 50px;
  cursor: pointer;
}
#hero .container .scroll-down::before,
#hero .container .scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #FFB800;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  -webkit-animation: scroll-down 1s ease-in-out infinite;
          animation: scroll-down 1s ease-in-out infinite;
}
#hero .container .scroll-down::after {
  top: 30%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#hero .container .left {
  flex: 7;
}
#hero .container .left .subheading {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
  -webkit-animation: fade 0.3s ease-in forwards;
          animation: fade 0.3s ease-in forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#hero .container .left .heading {
  font-size: 6rem;
  color: #FFB800;
  font-weight: 900;
}
#hero .container .left .heading .wrapper {
  display: inline-block;
  overflow: hidden;
}
#hero .container .left .heading .wrapper span {
  position: relative;
  bottom: -70px;
  -webkit-animation: reveal 1s ease-in-out forwards;
          animation: reveal 1s ease-in-out forwards;
}
#hero .container .left .desc {
  margin-top: 1rem;
  max-width: 400px;
  font-size: 1.6rem;
  opacity: 0;
  -webkit-animation: fade 0.3s ease-in forwards;
          animation: fade 0.3s ease-in forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#hero .container .left .navigate {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  opacity: 0;
  -webkit-animation: fade 0.3s ease-in forwards;
          animation: fade 0.3s ease-in forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#hero .container .left .navigate .text_navigate {
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-left: 5rem;
}
#hero .container .left .navigate svg {
  padding-top: 5rem;
  width: 40px;
  color: #FFB800;
  animation: moveArrow 1s alternate-reverse infinite;
}
#hero .container .left .navigate a {
  text-decoration: none;
  color: #142E47;
}
#hero .container .right {
  flex: 6;
}
#hero .container .right img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}

#skill-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#skill-bar .section-heading {
  margin-bottom: 5rem;
}
#skill-bar .container {
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(5, 200px);
  justify-items: center;
  align-items: center;
}
#skill-bar .container .item:nth-child(2) {
  transition-delay: 200ms;
}
#skill-bar .container .item:nth-child(3) {
  transition-delay: 400ms;
}
#skill-bar .container .item:nth-child(4) {
  transition-delay: 600ms;
}
#skill-bar .container .item:nth-child(5) {
  transition-delay: 800ms;
}
#skill-bar .container .item:nth-child(7) {
  transition-delay: 200ms;
}
#skill-bar .container .item:nth-child(8) {
  transition-delay: 400ms;
}
#skill-bar .container .item:nth-child(9) {
  transition-delay: 600ms;
}
#skill-bar .container .item:nth-child(10) {
  transition-delay: 800ms;
}
#skill-bar .heading-skill .section-heading {
  font-size: clamp(2rem, 20vw, 5rem);
}
#skill-bar .other {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(4, 250px);
  justify-items: center;
  align-items: center;
}
#skill-bar .other .other-item:nth-child(2) {
  transition-delay: 200ms;
}
#skill-bar .other .other-item:nth-child(3) {
  transition-delay: 400ms;
}
#skill-bar .other .other-item:nth-child(4) {
  transition-delay: 600ms;
}
#skill-bar .pr img {
  height: 60px;
  width: 120px;
}
#skill-bar .powerapp img {
  height: 65px;
  width: 145px;
}

#about {
  padding: 17rem;
}
#about .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}
#about .wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 3rem;
}
#about .wrapper .left {
  padding: 2rem;
  text-align: center;
}
#about .wrapper .left .card {
  box-shadow: 0px 0px 20px #FFB800;
  padding: 3rem;
  border-radius: 12px;
  min-height: 400px;
}
#about .wrapper .left .card .img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 3rem;
}
#about .wrapper .left .card .img img {
  -o-object-fit: cover;
     object-fit: cover;
}
#about .wrapper .left .card .card-desc {
  margin-bottom: 3rem;
  font-size: 1.3rem;
}
#about .wrapper .left .card .card-name {
  margin-bottom: 1.4rem;
  font-size: 2rem;
}
#about .wrapper .left .card .card-sub-title {
  font-size: 1.4rem;
  color: #FFB800;
}
#about .wrapper .right .subheading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#about .wrapper .right .slogan {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #FFB800;
}
#about .wrapper .right .right-text {
  font-size: 1.3rem;
}

.wt-btn_sign {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.21px;
  white-space: nowrap;
  transition: color 0.3s;
  line-height: 20px;
  color: #f6416c;
  background: #ffde7d;
  border: none;
  height: 45px;
  padding: 0 5px;
  border-radius: 22px;
}

.wt-btn_sign:hover {
  color: #ffde7d;
  background: #f6416c;
}

.wt-btn_sign-bound {
  display: block;
  overflow: hidden;
}
.wt-btn_sign-bound span {
  position: relative;
  display: inline-block;
  padding: 0 22px;
  -webkit-animation: wt-btn_sign-marquee 2s linear infinite;
  animation: wt-btn_sign-marquee 2s linear infinite;
}
.wt-btn_sign-bound span:after {
  content: attr(data-text);
  position: absolute;
  left: 100%;
  padding: 0 23px;
}

#work-heading {
  padding: 2rem;
}
#work-heading .section-heading-works {
  font-size: clamp(2rem, 20vw, 8rem);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  position: relative;
}
#work-heading .section-heading-works::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1px #FFB800;
  z-index: -1;
  font-family: "Montserrat";
}

#works-right {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff8ed;
}
#works-right .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#works-right .container .left img {
  width: 100%;
  height: 1000px auto;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
#works-right .container .right {
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #142E47;
  margin-left: -150px;
  padding-right: 30px;
  z-index: 10;
  transition-delay: 350ms;
}
#works-right .container .right h1 {
  font-size: 40px;
}
#works-right .container .right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  font-size: 1.3em;
}
#works-right .container .right ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 1em;
}
#works-right .container .right ul li {
  padding: 0 5px;
}

#works-left {
  min-height: vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff8ed;
}
#works-left .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#works-left .container .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}
#works-left .container .show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
#works-left .container .left img {
  width: 100%;
  height: 1000px auto;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
#works-left .container .right {
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #142E47;
  margin-right: -150px;
  padding-right: 30px;
  z-index: 10;
  transition-delay: 350ms;
}
#works-left .container .right h1 {
  font-size: 40px;
}
#works-left .container .right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  font-size: 1.3em;
}
#works-left .container .right ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 1em;
}
#works-left .container .right ul li {
  padding: 0 5px;
}

.social-links {
  display: flex;
  padding-top: 20px;
}
.social-links .social-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: rgb(247, 228, 120);
  margin: 5px;
  transition: 1s;
}
.social-links .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links span {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
}
.social-links .social-btn:hover {
  width: 140px;
  border-radius: 5px;
}
.social-links .social-btn:hover span {
  padding: 2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.social-links #link-site svg, .social-links #github svg {
  fill: #000000;
  height: 20px;
  width: 30px;
}
.social-links #link-site span, .social-links #github span {
  font-size: 1.2em;
}

#contact {
  padding: 10rem 20rem;
}
#contact .wrapper {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  gap: 5rem;
}
#contact .wrapper .left {
  flex: 1;
}
#contact .wrapper .left .contact-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}
#contact .wrapper .left .contact-desc {
  font-size: 1.3rem;
  margin-bottom: 5rem;
}
#contact .wrapper .left .contact-info {
  margin-bottom: 5rem;
}
#contact .wrapper .left .contact-info ul {
  list-style: none;
}
#contact .wrapper .left .contact-info ul li {
  border-radius: 12px;
  overflow: hidden;
}
#contact .wrapper .left .contact-info ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.3rem;
  padding: 1rem;
  gap: 1rem;
  color: #142E47;
}
#contact .wrapper .left .contact-info ul li:hover {
  background-color: #FFB800;
}
#contact .wrapper .left .contact-info ul li:hover a {
  color: white;
}
#contact .wrapper .left .social-info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 2rem;
  gap: 10rem;
}
#contact .wrapper .left .social-info ul a {
  color: #142E47;
}
#contact .wrapper .right {
  flex: 1;
  transition-delay: 300ms;
}
#contact .wrapper .right .form-wrapper {
  background-color: rgb(126, 159, 176);
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  color: #FFF;
}
#contact .wrapper .right .form-wrapper .button-submit {
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}
#contact .wrapper .right .form-wrapper .button-submit:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
#contact .wrapper .right .contact-card-text {
  margin-bottom: 3rem;
  font-size: 4rem;
}
#contact .wrapper .right .form-group {
  margin-bottom: 1rem;
}
#contact .wrapper .right .form-group label {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.3rem;
}
#contact .wrapper .right .form-group textarea {
  width: 100%;
  height: 150px;
  resize: vertical;
  padding: 1rem;
  outline: none;
  border: 1px solid white;
  font-size: 1.5rem;
  background-color: rgb(126, 159, 176);
  color: white;
}
#contact .wrapper .right .form-group .input-wrapper {
  background-color: #FFF;
  color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  overflow: hidden;
}
#contact .wrapper .right .form-group .input-wrapper input {
  padding: 1rem;
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid white;
  font-size: 1.5rem;
  background-color: rgb(126, 159, 176);
  color: white;
}

#copy-right {
  padding: 1rem 0;
  background-color: rgb(126, 159, 176);
}
#copy-right p {
  color: #FFF;
  margin: 1rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 950px) {
  #hero .container .right {
    flex: 6;
  }
  #skill-bar .container {
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 150px);
    margin-bottom: 4rem;
  }
  #skill-bar .other {
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 150px);
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 777px) {
  html {
    font-size: 8px;
  }
  #hero .container {
    flex-direction: column-reverse;
  }
  #hero .container .right {
    text-align: center;
    flex: 1;
    margin-bottom: 2rem;
  }
  #hero .container .right img {
    width: 100%;
    height: 300px;
  }
  #hero .container .left {
    text-align: center;
    padding-right: 0;
    flex: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #hero .container .left .navigate {
    justify-content: center;
  }
  #hero .container .left .heading {
    font-size: 4rem;
    margin: 0 auto;
  }
  #hero .container .left .desc {
    margin: 0 auto;
  }
  #about .wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  #about .wrapper .right .buttons {
    justify-items: center;
    align-items: center;
  }
  #skill-bar .container {
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 150px);
    padding-bottom: 20px;
  }
  #skill-bar .heading-skill {
    padding-top: 40px;
  }
  #works-right .container {
    flex-direction: column;
  }
  #works-right .container .left {
    width: 70%;
  }
  #works-right .container .right {
    width: 60%;
    margin: 0;
    margin-top: -100px;
  }
  #works-right .container .right h1 {
    font-size: 30px;
  }
  #works-right .container .right ul {
    font-size: 1.3em;
  }
  #works-left .container {
    flex-direction: column-reverse;
  }
  #works-left .container .left {
    width: 70%;
  }
  #works-left .container .right {
    width: 60%;
    margin: 0;
    margin-top: -100px;
  }
  #works-left .container .right h1 {
    font-size: 30px;
  }
  #works-left .container .right ul {
    font-size: 1.3em;
  }
  .scroll-top i {
    width: 40%;
    height: 40%;
  }
}
@media only screen and (max-width: 517px) {
  #about {
    padding: 7rem;
  }
  #skill-bar .heading-skill {
    padding-top: 30px;
  }
  #works-right {
    min-height: 70vh;
  }
  #works-right .container {
    flex-direction: column;
  }
  #works-right .container .left {
    width: 70%;
  }
  #works-right .container .right {
    width: 80%;
    min-height: 300px;
    padding: 10px;
    margin-top: -50px;
  }
  #works-right .container .right h1 {
    font-size: 20px;
  }
  #works-right .container .right p {
    font-size: 10px;
  }
  #works-right .container .right ul {
    font-size: 1.3em;
  }
  #works-left .container {
    flex-direction: column-reverse;
  }
  #works-left .container .left {
    width: 70%;
  }
  #works-left .container .right {
    width: 80%;
    min-height: 300px;
    padding: 10px;
    margin-top: -50px;
  }
  #works-left .container .right h1 {
    font-size: 20px;
  }
  #works-left .container .right p {
    font-size: 10px;
  }
  #works-left .container .right ul {
    font-size: 1.3em;
  }
}
@-webkit-keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
@-webkit-keyframes reveal {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes reveal {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes wt-btn_sign-marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes wt-btn_sign-marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
#trailer {
  height: 20px;
  width: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  display: grid;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;
  color: white;
  opacity: 0;
  transition: opacity 400ms ease;
}/*# sourceMappingURL=styles.css.map */